apiVersion: apps/v1
kind: Deployment
metadata:
  name: sujit-portfolio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sujit-portfolio
  template:
    metadata:
      labels:
        app: sujit-portfolio
    spec:
      containers:
      - name: sujit-portfolio
        image: sujit-devops-portfolio:1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9090

        # Readiness Probe
        readinessProbe:
          httpGet:
            path: /health
            port: 9090
          initialDelaySeconds: 10
          periodSeconds: 5
          failureThreshold: 3

        # Liveness Probe
        livenessProbe:
          httpGet:
            path: /health
            port: 9090
          initialDelaySeconds: 30
          periodSeconds: 10
          failureThreshold: 3
